/* styles.css - Challenge #1 (Skeleton) */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(250, 250, 255);
    color: blue;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 800px;
    padding: 10px;
    margin: auto;
}

.site-header h1 {
    font-weight: bold;
    font-size: 3em;
    color: rgb(255, 51, 85);
}

.site-header .tagline {
    font-style: italic;
    font-size: 1em;
    color: rgb(255, 114, 138);
    margin-bottom: 30px;
}

.about h2 {
    font-size: 2em;
    padding: 10px;
}

.about p {
    text-align: left;
    line-height: 1.5;
    margin-bottom: 10px;
}

.mascot-placeholder {
    margin: auto;
    max-width: 240px;
    width: 100%;
    background-color: white;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 20px;
}

#mascot-image {
    width: 100%;
    display: block;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}

.buy-tickets {
    color: white;
    font-weight: bold;
    background-color: rgb(91, 249, 91);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 157, 255, 0.705);
    cursor: pointer;
}

.make-donation {
    color: white;
    font-weight: bold;
    background-color: blue;
    padding: 10px;
    border-radius:10px;
    box-shadow: 0 4px 10px rgba(244, 0, 159, 0.705);
    cursor: pointer;
}

.buy-tickets:hover {
    background-color: rgb(74, 105, 79);
    transform: translateY(-2px);
}

.make-donation:hover {
    background-color: rgb(130, 139, 186);
    transform: translateY(-2px);
}

.site-footer {
    margin: auto;
    font-size: 0.8em;
    border-top: 1px solid grey;
    color: grey;
}
